<form action="/shortUrls" method="POST" class="my-4 form-inline">
    <label for="fullUrl" class="sr-only">Url</label>
    <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
    <label for="shortUrl" class="sr-only">A-Link</label>
    <% if(searchStr.length > 0) { %>
	    <input required value="<%=searchStr %>" type="string" name="shortUrl" id="shortUrl" class="form-control col mr-2">
    <% } else { %>
      <input required="" placeholder="A-link" type="string" name="shortUrl" id="shortUrl" class="form-control col mr-2">
    <% } %>
    <select name="tag" id="tag" class="form-control js-example-tags form-control" >
      <% tagDetails.forEach(tagDetail => { %>   
        <option style="font-family: 'Prompt', sans-serif;"><%= tagDetail.tag.toUpperCase() %></option>
      <% }) %>
    </select>
      
      &nbsp;
    <button class="btn btn-success" type="submit">Create A-Links</button>

	<a class="btn" type="button" data-toggle="modal"
                    data-target="#helpModal" data-whatever="">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-info-circle" viewBox="0 0 16 16" weight="bold">
			<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
			<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
		</svg>
	</a>
</form>

