
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLabel">Helpful Tips!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-body">
            <ul>
                <li>In browser type <b>alink/(A-Link)' (e.g alink/figma)</b> to open the long URL.</li>
                
                <li>In browser type <b>alink/tag/(tag) (e.g alink/tag/security)</b> to get the A-Links listed under the tag.</li>
                
                <li>You cannot add <b>duplicate</b> A-Link/URL.</li>
                
                <li>A <b>tag</b> is required while adding/updating an alink. Below is the list of predifined tag color code.</li></ul>
                
           
            <p style="margin-left:12px;">
            <span class="badge badge-primary badge-pill"> </span><span> A-Link under general category.</span>
            <br/>
            <span class="badge badge-secondary badge-pill"> </span><span> A-Link under data category.</span>
            <br/>
            <span class="badge badge-danger badge-pill"> </span><span> A-Link under security category.</span>
            <br/>
            <span class="badge badge-success badge-pill"> </span><span> A-Link under user experience category.</span>
            <br/>
            <span class="badge badge-info badge-pill"> </span><span> A-Link under external category.</span>
            <br/>
            <span class="badge badge-dark badge-pill"> </span><span> A-Link under tech category.</span>
            <br/>
            <span class="badge badge-warning badge-pill"> </span><span> A-Link under categories not in the above list.</span>
            
            </p>
             
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>